.main-container {
    display: grid;
    grid-template: 150px auto / minmax(200px, 1fr) 4fr;
}

.side-bar {
    background-color: rgb(37, 176, 223);
    color: white;
    grid-row: span 2;
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-gap: 20px;
}

.side-bar ul {
    list-style-type: none;
    padding: 0;
}

.header {
    display: grid;
    grid-template: repeat(2, 1fr) / 2fr 1fr;
    align-items: center;    
}

.header .search-bar {
    margin: 0;
}

.header .user-info {
    
}

.header .options {
    display: flex;
}

.content {
    background-color: rgb(225, 225, 225);
}