:root {
    --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --blue: rgb(37, 176, 223);
    font-family: var(--system-ui);
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover,
button:hover {
    opacity: 0.9;
}

img.user-picture {
    border-radius: 50%;
}

.main-container {
    display: grid;
    grid-template: 150px minmax(calc(100lvh - 150px), auto) / minmax(250px, 1fr) 4fr;
    font-size: 1rem;
}

.side-bar {
    background-color: var(--blue);
    padding: 15px;
    color: white;
    font-weight: bolder;
    grid-row: span 2;
    z-index: 2;
}

.side-bar .top, 
.side-bar ul {
    display: grid;
    grid-template-columns: 40px auto;
    grid-gap: 10px;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

.side-bar img[src$=".svg"] {
    justify-self: center;
    filter: invert(100%);
}

.side-bar .section1,
.side-bar .section2 {
    margin: 20px 0;
}



.header {
    display: grid;
    grid-template: repeat(2, 1fr) / 2fr 1fr;
    align-items: center;
    padding: 10px 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.header .search-bar {
    margin: 0;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 20px;
    justify-content: start;
}

.search-bar input {
    background-color: rgb(225, 225, 225);
    border: 0;
    border-radius: 20px;
    padding: 0 10px;
    justify-self: stretch;
}

.header .top-right-container {
    font-weight: 500;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-items: center;
    grid-gap: 30px;
}

.header .user-info {
    display: grid;
    grid-template: 1fr 1fr / auto 1fr;
    grid-column-gap: 30px;
    font-weight: bold;
}

.user-info img {
    height: 60px;
    grid-row: 1 / -1;
}

.header .options {
    display: flex;
    gap: 30px;
}

.options button {
    border: 0;
    border-radius: 30px;
    background-color: var(--blue);
    color: white;
    font-weight: bold;
    padding: 8px 20px;
}

.options button:hover {
    cursor: pointer;
}

.content {
    background-color: rgb(225, 225, 225);
    display: grid;
    grid-template: auto 1fr auto 1fr / 3fr 1fr;
    z-index: 0;
}

.content .projects-cards {
    grid-row: 2 / -1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.projects-cards p {
    grid-column: 1 / -1;    
}

.projects-cards .project-card {
    background-color: white;
}

.content .announcements,
.content .trending-users {
    background-color: white;
}

.content .announcements {
    display: grid;
    grid-template-rows: 1fr 1px 1fr 1px 1fr;
}

.content .trending-users {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}