.main-container {
    display: grid;
    grid-template: 150px auto / minmax(200px, 1fr) 4fr;
}

.side-bar {
    background-color: rgb(37, 176, 223);
    color: white;
    grid-row: span 2;
}

.side-bar ul {
    list-style-type: none;
    padding: 0;
}

.header {
    display: grid;
    grid-template: repeat(2, 1fr) / 2fr 1fr;
    align-items: center;    
}

.header .search-bar {
    margin: 0;
}

.header .user-info {
    
}

.header .options {
    display: flex;
}

.content {
    background-color: rgb(225, 225, 225);
    display: grid;
    grid-template: auto 1fr auto 1fr / 3fr 1fr;
}

.content .projects-cards {
    grid-row: 2 / -1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.projects-cards p {
    grid-column: 1 / -1;    
}

.projects-cards .project-card {
    background-color: white;
}

.content .announcements,
.content .trending-users {
    background-color: white;
}

.content .announcements {
    display: grid;
    grid-template-rows: 1fr 1px 1fr 1px 1fr;
}

.content .trending-users {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}